<div class="container">
    <h1>Leave Management APP</h1>
    <div class="btn btn-success" [routerLink]="['/auth']">Register Now!</div>
</div>

<h1>Helllo world!</h1>

<h1>Helllo world!</h1>

<h1>Helllo world!</h1>

<h1>Helllo world!</h1>

<h1>Helllo world!</h1>

<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>

<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>
<h1>Helllo world!</h1>

<h1>Helllo world!</h1>
<h1>Helllo world!</h1>